$link-color: $blue-000;

// Increase the side bar width as some of the page titles don't fit in the default size.
$nav-width: 300px;

// Increase the main content area width as some tables assume a larger size.


.site-footer {
	visibility: hidden;
}

.site-nav, .site-header, .site-footer {
  width: 100%;
}

.side-bar {
  @include mq(lg) {
    width: $nav-width;
  }
}

.main {
  @include mq(lg) {
    margin-left: $nav-width;
  }
}